#-------=-------=---------------=---------------------------------------------
# CGI
#       x.objectname
#
# DESCRIPTION
#       description
#
# INPUT
#       $par1                   description
#
# OPTIONAL
#       $par2                   description
#
#-----------------------------------------------------------------------------

<?INTERFACE INPUT="" OPTIONAL="">
